<!DOCTYPE html>
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org"> thymeleafConfig 로 설정처리함 -->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
</head>

<body>

<!--<header th:replace="~{header :: header}"> index.th.xml 로 옮김   -->
<!--    header 삽입부-->
<!--    <hr>-->
<header id="header"></header>

<main>
    <form> <!--검색창-->
        <label for="search-type" hidden>유형</label>
        <select id="search-type" name="search-type">
            <option>제목</option>
            <option>본문</option>
            <option>ID</option>
            <option>닉네임</option>
            <option>해시태그</option>
        </select>
        <label for="search-value" hidden>검색어</label>
        <input id="search-value" type="search" placeholder="검색어..." name="search-value">
        <button type="submit">검색</button>
    </form>

    <table><!-- 테이블-->
        <thead>
        <tr>
            <th>제목</th>
            <th>해시태그</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td>첫글</td>
                <td>#java</td>
                <td>Jun</td>
                <td>2002-11-25</td>
            </tr>
            <tr>
                <td>두번째글</td>
                <td>#spring</td>
                <td>Jun</td>
                <td>2002-12-25</td>
            </tr><tr>
                <td>세번째글</td>
                <td>#dslkje</td>
                <td>Jun</td>
                <td>2002-10-25</td>  <!-- cntrl + shifr + f9 리컴파일 -->
            </tr>
        </tbody>

<!--        <tfoot></tfoot>-->

    </table>

    <nav> <!--네비게이션 바 -->
       <table>
           <tr>
               <td>previus</td>
               <td>1</td>
               <td>2</td>
               <td>3</td>
               <td>4</td>
               <td>next</td>
           </tr>
       </table>
    </nav>

</main>

<!--<footer th:replace="~{footer :: footer}">-->
<footer id="footer"></footer>


</body>
</html>
